{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!
{% endblock %}

{% block body %}

	<div class="history">
		<img class="bg" src="{{ asset('images/bg.png') }}" alt="Convert.io" class="home__img"/>

		<h1>Historique des PDF générés</h1>
		<div class="container__table">
			<ul>
				{% for pdf in pdfs %}
					<li>
						<div class="title__pdf">
							<p class="title__pdf">{{ pdf.title }}</p>
							<span class="pdf-date">{{ pdf.createdAt|date('Y-m-d H:i:s') }}</span>
						</div>

						<a class="voir__pdf" href="{{ path('app_show_pdf', {id: pdf.id}) }}">voir le pdf</a>

					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
